<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8" />
	<title>Student Information</title>
	<script src="./vue.js"></script>
	<style>
	 table {
		 display: flex;
		 flex-flow: column;
		 height: 100%;
		 width: 100%;
		 border: 1px solid black;
		 border-collapse: collapse;
	 }
	 table thead {
		 /* head takes the height it requires, 
			and it's not scaled when table is resized */
		 flex: 0 0 auto;
		 width: calc(100% - 0.9em);
	 }
	 table tbody {
		 /* body takes all the remaining available space */
		 flex: 1 1 auto;
		 display: block;
		 overflow-y: scroll;
	 }
	 table tbody tr {
		 width: 100%;
	 }
	 table td, table th {
		 border: 1px solid black;
	 }
	 table thead, table tbody tr {
		 display: table;
		 table-layout: fixed;
	 }
	 .tablecontainer {
		 height: 10em;
	 }
	</style>
  </head>
  <body>
	<div id="stuapp">
	  <stu-table v-bind:headers="headers" v-on:toggle-show="toggleView" v-bind:rows="rows"></stu-table>
	  <stu-table v-show="Class1" v-bind:headers="stuHeaders" v-bind:rows="stuRows.Class1"></stu-table>
	  <stu-table v-show="Class2" v-bind:headers="stuHeaders" v-bind:rows="stuRows.Class2"></stu-table>
	  <stu-table v-show="Class3" v-bind:headers="stuHeaders" v-bind:rows="stuRows.Class3"></stu-table>
	</div>
	<script>
	 var sampledata = {Class1: [{Name: 'Tony', Maths: 80, Science: 50, English: 80, Geography: 70, History: 50, Status: 'pass'}, {Name: 'Samuel', Maths: 80, Science: 80, English: 80, Geography: 80, History: 80, Status: 'fail'}], Class2: [{Name: 'John', Maths: 50, Science: 50, English: 40, Geography: 60, History: 30, Status:'fail'}, {Name: 'Tinkle', Maths: 25, Science: 40, English: 30, Geography: 50, History: 30, Status: 'fail'}], Class3: [{Name: 'Angel', Maths: 80, Science: 70, English: 80, Geography: 70, History: 50, Status:'pass'}]};

	 var formatData = (data) => {

		 let theaders = Object.keys(data);
		 let trows = [];
		 let temppass = 0;
		 for(i = 0; i < theaders.length; i++) {
			 temppass = 0;
			 trows[i] = { class: theaders[i], students: data[theaders[i]].length};
			 for (j = 0; j < data[theaders[i]].length; j++) {
				 if(data[theaders[i]][j].Status == 'pass') {
					 temppass++;
				 }
				 trows[i].pass = temppass;
				 trows[i].fail = data[theaders[i]].length - temppass;
			 }
		 }
		 return trows;
	 };
	 
	 console.log(formatData(sampledata));

	 var formatStuRows = (data) => {
		 let tsturows = {};
		 let theaders = Object.keys(data);
		 for( i = 0; i < theaders.length; i++) {
			 let td = data[theaders[i]];
			 tsturows[theaders[i]] = td;
			 for ( j = 0; j < td.length; j++) {
				 tsturows[theaders[i]][j].Total = td[j].Maths + td[j].Science + td[j].History + td[j].Geography + td[j].English;
			 }
		 }
		 return tsturows;
	 }

	 console.log(formatStuRows(sampledata));
	 Vue.component('stu-table', {
		 props: ['headers', 'rows'],
		 template: `
		   <div class="tablecontainer">
			 <table>
			   <thead>
				 <tr>
				   <th v-for="header in headers">{{ header }}</th>
				 </tr>
			   </thead>
			   <tbody>
				 <tr v-for="row in rows">
				   <td v-for="(value, index) in row"> <a v-if="(index == 'class')" v-on:click="toggleShow(value)">{{ value }}</a><span v-else>{{ value }}</span></td>
				 </tr>
				 <tr v-if="!rows"><td colspan="8">No data to display</td></tr>
			   </tbody>
			 </table>
		   </div>`,
		 methods: {
			 toggleShow: function(value) {
				 console.log('fired');
				 console.log(value);
				 this.$emit('toggle-show', value);
			 }
		 }
	 });
	 
	 var app = new Vue({
		 el: '#stuapp',
		 data: () => {
			 return {
				 headers: ['Class', 'Students', 'Pass', 'Fail'],
				 stuHeaders: ['Name', 'Maths', 'Science', 'English', 'Geography', 'History', 'Status', 'Total'],
				 rows: formatData(sampledata),
				 stuRows: formatStuRows(sampledata),
				 Class1: false,
				 Class2: false,
				 Class3: false
			 }
		 },
		 methods: {
			 toggleView: function (xc) {
			 	 console.log('caught');
				 console.log(xc)
				 if ( xc == 'Class1') {
					 this.Class1 = !this.Class1;
					 
				 } else if ( xc == 'Class2') {
					 this.Class2 = !this.Class2;
				 } else {
					 this.Class3 = !this.Class3;
				 }
			 }
		 }
	 });

	</script>
  </body>
</html>
